body {
	margin: 30px;
}

form {
	margin: 0 20px 20px 20px;
}


#btn-area {
	border: 2px solid black;
}

	.btn-info {
		margin: 20px 10px 0 10px;
	}

#image-area {
	border: 2px solid black;
}
	.gif-results {
		display: inline-block;
		margin: 20px;
	}